
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-start">
    <h1 class="h1">Mockups</h1>
    <p>
        <ul>
            <li>
                <a href="/Home/Quiz">Quiz</a>
            </li>
            <li>
                <a href="/Home/QuizResult">QuizResult</a>
            </li>
        </ul>
    </p>

</div>